<h2> WELLO HORLD!</h2>

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Content</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <% @articles.each do |article| %>
            <tr>
                <td><%= article.title %></td>
                <td><%= article.content %></td>
                <td><%= link_to 'Edit', edit_article_path(article) %></td>
                <td><%= link_to 'Delete', delete_article_path(article) %></td>
            </tr>
        <% end %>
    </tbody>
</table>

<%= link_to 'New Article', new_article_path %>