<!DOCTYPE html>
<html>
  <head>
    <title>blog ni deyb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
	  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	  <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="font-sans bg-white bg-opacity-80 h-screen flex flex-col w-full m-5 p-2 rounded-3xl">
        <h1 class='m-6'> BLOG NI DAVE</h1>
      <%= yield %>
  </body>
</html>
